In [1]:
import re
import os
from pathlib import Path
import pandas as pd

In [2]:
filepath = ('resources/card_holder.csv')
new_dict = {'id':[],'first_name':[],'last_name':[]}

with open(Path(filepath), 'r') as f: 
    match1 = re.findall('(\d+),(\w+)\s(\w+)',f.read())
    if match1:
        for tups in range(0,len(match1)):
            new_dict['id'].append(match1[tups][0])
            new_dict['first_name'].append(match1[tups][1])
            new_dict['last_name'].append(match1[tups][2])
better_vers = pd.DataFrame(new_dict)  
better_vers.set_index('id', inplace=True)
better_vers.to_csv('resources/card_holder_fl.csv')

In [14]:

from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

postgres_pw = os.getenv("POSTGRESPW")
type(postgres_pw)

str

In [15]:

engine = create_engine(f"postgresql://postgres:{postgres_pw}@localhost:5432/creditcard")

In [17]:
query = "SELECT * FROM merchant"
merchant_df = pd.read_sql(query,engine)

   merchant_id                 merchant_name  cat_id
0            1      Murphy, Heath and Fields       1
1            2                   Riggs-Adams       1
2            3  Sanders, Parks and Mcfarland       2
3            4                Mccarty-Thomas       3
4            5                Miller-Blevins       4